{% extends 'base.html'%}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-2 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad odit, hic pariatur placeat voluptas perferendis velit, sed magnam maxime asperiores quisquam amet, expedita natus repellendus deserunt officiis consequuntur animi labore vitae ullam maiores ab blanditiis dolor eum! Quam soluta quae accusamus ducimus. At corrupti, tempora impedit dolores beatae excepturi eum harum. Magnam doloribus eius iste? Accusamus voluptates vero a obcaecati molestiae, aspernatur deleniti, beatae animi molestias non ut in doloribus. Dolorum veniam facere accusamus accusantium saepe rem fugit nemo nihil dolorem perferendis vel quam doloribus, tempore alias expedita, libero mollitia magni ullam. Aliquam, id. Accusantium dolore molestias neque velit at!</p>

        <div class="text-center">
            <a href="/signin/" class="btn btn-primary">SignIn</a>
            <a href="/signup/" class="btn btn-primary">SignUp</a>
        </div>
    </section>
</main>



{% endblock %}